.sideBar{
    /* #0D0F10 */
    background-color:#0D0F10; 
    height: 100;
    border-radius: 20px;

}

p {
    padding: 0;
    margin: 0;
}

.avatar{
    height: 48px;
    width: 48px;
    border-radius: 20px;
}

.userDetails{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nameDetails{
    flex-grow: 2;
    padding-left: 10px;
}

.nameTitle{
    color: #ffff;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: "Plus Jakarta Sans";
    font-optical-sizing: auto;
    font-style: normal;
}

.followersCount{
    color:#B6F09C;
    font-size: 0.8rem;
    font-family: "Plus Jakarta Sans";
    font-optical-sizing: auto;
    font-style: normal;
}